Auth/
Auth/*
Auth/auth.py
.git
.git/
discord.sh
__pycache__
cogs/__pycache__
Assets/__pycache__
Assets/python/__pycache__
Assets/Auth/
Assets/Auth/*
.env
Assets/Auth/auth.py
.~lock.bot.sh#
memes/meme-folder/*